[submodule "oauth-service"]
	path = oauth-service
	url = https://github.com/wsmhz/oauth-service.git
[submodule "oauth-service-api"]
	path = oauth-service-api
	url = https://github.com/wsmhz/oauth-service-api.git
[submodule "resource-service-api"]
	path = resource-service-api
	url = https://github.com/wsmhz/resource-service-api.git
[submodule "resource-service"]
	path = resource-service
	url = https://github.com/wsmhz/resource-service.git
